@model IEnumerable<StockPulse.Models.Product>

@{
    ViewData["Title"] = "Products";
}

<div class="mt-2 mb-5" style="display: flex; align-items: center;">
    <h3 style="display: inline-block" class="mt-5">Products</h3>
    <div style="inline-block" class="mt-5 ml-5">
        <a class="create-model-btn" asp-action="Create" style="display: flex; align-items: center; width: 230px; height: 50px;">
            <i class="fa-solid fa-plus"></i>
            Create new product
        </a>
    </div>
</div>

<sub>@Model.Count() products</sub>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProductNum)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                Total Stock
            </th>
            <th>Actions</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) {
        <tr>
            <td>
                @item.ProductNum
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @item.TotalStock
            </td>
            <td>
                <a class="action-model-btn" asp-action="Edit" asp-route-id="@item.ProductNum">
                    <i class="fa-solid fa-pen-to-square"></i>
                    Edit Product
                </a>
                <a class="action-model-btn" asp-action="Details" asp-route-id="@item.ProductNum">
                    <i class="fa-solid fa-circle-info"></i>
                    Details
                </a>
            </td>
            <td>
                <a class="delete-model-btn" asp-action="Delete" asp-route-id="@item.ProductNum">
                    <i class="fa-solid fa-trash"></i>
                    Delete
                </a>
            </td>
        </tr>
}
    </tbody>
</table>
